@font-face {
    font-family: "maruBuri";
    font-weight: 200;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-ExtraLight.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-ExtraLight.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-ExtraLight.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-ExtraLight.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-ExtraLight.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "maruBuri";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "maruBuri";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "maruBuri";
    font-weight: 600;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-SemiBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-SemiBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-SemiBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-SemiBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-SemiBold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "maruBuri";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/maruBuri/maruBuri-Bold.ttf") format("truetype");
    font-display: swap;
}
.maruBuri {
    font-family: "maruBuri";
}
.maruBuri200 {
    font-family: "maruBuri";
    font-weight: 200;
}
.maruBuri300 {
    font-family: "maruBuri";
    font-weight: 300;
}
.maruBuri400 {
    font-family: "maruBuri";
    font-weight: 400;
}
.maruBuri600 {
    font-family: "maruBuri";
    font-weight: 600;
}
.maruBuri700 {
    font-family: "maruBuri";
    font-weight: 700;
}